@media screen and (max-width: 900px){
  .nav_side{
      display: none;
  }

  .hidden_nav{
      display: block;
  }

  .header{
      padding: 15px 30px;
  }

  .logo_side{
      margin-top: 10px;
  }

  .canvsView {
      height: 387px;
  }
}



@media screen and (max-width: 500px){
  .hiddenbuttonPadd{
      width: 70vw;
  }

  .hiddenbuttonPaddOpen{
      width: 70vw;
  }

  .canvsView{
      width: 90%;
  }

  .its_me {
      font-size: 15px;
      background: rgb(255 255 255 / 8%);
      width: 90%;
      margin: 5px auto;
      padding: 17px 20px;
  }

  .i_build {
      font-size: clamp(30px, 2vw, 30px);
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
  }

  .abouts_section {
      width: 90%;
  }

  .about_me {
      font-size: 22px;
      margin: 45px 0px 30px;
  }

  .name {
      font-size: 1.90rem;
  }

  .header {
      padding: 15px 17px;
  }

  .about_me{
      margin-top: 79%;
  }
}



@media screen and (max-width: 500px){
  .canvsView {
      width: 100%;
  }
  
  
}