:root{
  --main-bg-color: rgb(32 32 35);
  --main-font-color: rgb(255 255 255 / 92%);
  --second-font-color: #64ffda;
  --main-font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --second-font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --header-color: #20202380;
  --button-hover-bg-color: rgb(100 255 218 / 10%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
  background: var(--main-bg-color);
  color: var(--main-font-color);
}

.full_website{
  height: 100vh !important;
  overflow: hidden !important;
}

li{
  list-style: none;
}

h1, h2, h3, p{
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.canvsView{
  margin: 0 auto;
  width: 600px;
  height: 450px;
}

.fullCan{
  display: flex;
}

.abouts_section{
  width: 70%;
  margin: 0px auto;
  margin-top: 200px;
}

.header{
  position: fixed;
  right: 0;
  left: 0;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 27px 50px;
  z-index: 2;
  background: var(--header-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.logo_side a{
  font-size: 18px;
  font-weight: bold;
  color: var(--second-font-color);
}

.nav_side{

}

.nav_side li{
  display: inline-block;
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: 13px;
}

.nav_side li a{
  padding: 10px;
  transition: var(--transition);
}

.nav_side li a:hover{
  color: var(--second-font-color);
}

.nav_side li a:focus {
  border: 2px dashed var(--second-font-color);
}

.nav_side a span{
  color: var(--second-font-color);
  font-family: var(--second-font-family);
  margin-right: 3px;
}

.nav_side .resume_link a{
  padding: 0px;
  color: var(--second-font-color);
  margin-left: 15px;
  border: 1px solid var(--second-font-color);
  border-radius: 4px;
  padding: 0.75rem 1rem;
  line-height: 1;
}

.nav_side .resume_link a:hover{
  background: var(--button-hover-bg-color);
}

.about_section{
  padding-bottom: 40px;
}

.its_me{
  font-size: 17px;
  background: rgb(255 255 255 / 8%);
  width: 70%;
  margin: 5px auto;
  padding: 17px 20px;
  border-radius: 4px;
  text-align: center;
}

.about_me{
  font-size: 27px;
  position: relative;
  margin: 50px 0px 40px;
  white-space: nowrap;
  font-weight: 600;
  display: flex;
}

.about_me span{
  font-family: var(--second-font-family);
  color: var(--second-font-color);
}

.name{
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.short_Des{

}

.me_description{
  margin-top: 20px;
}

.i_build{
  font-size: clamp(40px, 2vw, 30px);
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.i_build span{
  color: var(--second-font-color);
  font-family: var(--second-font-family);
  word-spacing: -5px;
  font-weight: bolder;
}

.social_icons{
  margin-top: 13px;
}

.social_icons a{
  margin-right: 15px;
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #f15946;
}

.loading-text{
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.hidden_nav{
  display: none;
}

.hidden_nav{

}

.ham-box{
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.ham-box-close{
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.ham-box-inner{
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--second-font-color);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}

.ham-box-inner2{
  position: absolute;
  top: 17%;
  right: 0px;
  width: 35px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--second-font-color);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}

.ham-box-inner3{
  position: absolute;
  top: 85%;
  right: 0px;
  width: 25px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--second-font-color);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}

.hidden_nav_button{
  background: transparent;
  border: none;
  padding: 10px 14px;
  position: relative;
  z-index: 3;
}

.hidden_nav_button:focus{
  border: 2px dashed var(--second-font-color);
}

.ham-box-inner-close{
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--second-font-color);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(137deg);
}

.ham-box-inner2-close{
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--second-font-color);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(-137deg);
}

.hiddenbuttonPadd{
  position: fixed;
  background: var(--main-bg-color);
  height: 100vh;
  width: 60vw;
  right: 0;
  top: 0;
  transition: .7s;
  right: -100%;
}

.hiddenbuttonPaddOpen{
  position: fixed;
  background: var(--main-bg-color);
  height: 100vh;
  width: 60vw;
  right: 0;
  top: 0;
  transition: .7s;
  right: 0%;
}

.hiddenbuttonPaddMain{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.hiddenbuttonPaddMain li a{
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  width: 100%;
  padding: 3px 20px 20px;
  font-size: clamp(14px ,4vw, 18px);
}

.hiddenbuttonPaddMain li a span{
  color: var(--second-font-color);
  font-family: var(--second-font-family);
  margin-right: 3px;
}

.hiddenbuttonPaddMain .resume_link a{
  padding: 0px;
  color: var(--second-font-color);
  margin-left: 15px;
  border: 1px solid var(--second-font-color);
  border-radius: 4px;
  padding: 0.90rem 1rem;
  line-height: 1;
  margin-top: 20px;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}